// get open sans

// colours
$blue: #59c0cb;
$yellow: #ffdc00;
$darkblue: #59c0cb;
$lightgrey: #9b9b9b;
$lightgrey: #9b9b9b;
$red: #fa563f;
$green: #63c300;

body {
    // add font
    color: $blue;
}

h1, h2, h3, h4 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

p, span, label {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 24px;
    letter-spacing: 1px;
    padding: 0 30px;
    font-weight: bold;
}
h2 {
    font-size: 18px;
    letter-spacing: 1px;
}
h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 0 10px;
}
h4 {
    font-size: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    display: block;
}

p {
    font-size: 14px;
    letter-spacing: 0.8px;
    padding-bottom: 1px;
}

span, label {
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

input {
    margin: auto;
    border-color: $yellow;
    padding: 5px;
    border-style: solid;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

.MB {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    border: 10px solid $darkblue;
    .MB__header {
        width: 100%;
        text-align: center;
        p {
            padding: 30px;
        }
        h1, h2 {
          text-align: center;
        }
        h2 {
          line-height: 20px;
          font-size: 16px;
          letter-spacing: 0.6px;
          padding: 0 30px;
        }
        .MB__header__img {
          padding-bottom: 30px;
        }
    }

    .MB__errorEmpty, .MB__errorNaN, .MB__errorValid {
        text-align: center;
        background: $red;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 8px 30px;
        width: calc(100% - 80px);
        margin: 15px auto;
        position: relative;
        font-size: 10px;
        // add arrow with after to this to point above
        &:after {
            content: " ";
            background: red;
            position: absolute;
            transform: rotate(90deg);
        }
    }

    .MB__sport-re {
        .MB__sport-res__last-season, .MB__sport-res__next-season, #MB__sport-res__rounds {
            padding: 0 0 10px 20px;
            display: inline-block;
        }
        .MB__sport-res__last-season, .MB__sport-res__next-season {
            cursor: pointer;
        }
        #MB__sport-res__rounds {
            display: block;
        }
    }

    #MB__sport-res {
        padding: 10px;
        background: $darkblue;
        margin: 0 -10px 40px;
        overflow: hidden;
        div {
            white-space: nowrap;
            color: white;
            animation: textAnimate 25s;
            animation-timing-function: linear;
            animation-iteration-count: 10000000;
            @keyframes textAnimate {
                0% {
                    transform: translate(0%);
                }
                100% {
                    transform: translate(calc(-100% + 100vw));
                }
            }
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    .MB__prev-res {
        padding: 0 20px;
        .MB__prev-res__res {
            display: block;
            width: 100%;
            div {
                columns: 2;
                &.MB__prev-res__res__win-details {
                  columns: 1;
                }
            }
            span {
                display: block;
                width: 100%;
                span {
                    display: inline;
                    padding-left: 5px;
                    font-weight: 600;
                    font-style: italic;
                }
            }
            .MB__prev-res__res__winnings {
                span {
                    color: $red;
                    &.MB__prev-res__res__winnings__win {
                      color: $green;
                    }
                }
            }
            .MB__prev-res__res__recomendation, .MB__prev-res__res__howfull, .MB__prev-res__res__the-odds, .MB__prev-res__res__how-much, .MB__prev-res__res__the-ammounts, .MB__prev-res__res__ammounts3, .MB__prev-res__res__was-recomended, .MB__prev-res__res__res1, .MB__prev-res__res__res2, .MB__prev-res__res__res3 {
                display: none;
            }
            .MB__prev-res__res__winnings {
                padding-top: 5px;
            }
            &.MB__prev-res--open {
                div {
                    columns: 1;
                }
                .MB__prev-res__res__recomendation, .MB__prev-res__res__the-odds, .MB__prev-res__res__howfull, .MB__prev-res__delete {
                    display: block;
                }
                .MB__prev-res__res__how-much, .MB__prev-res__res__the-ammounts, .MB__prev-res__res__ammounts3, .MB__prev-res__res__was-recomended, .MB__prev-res__res__res1, .MB__prev-res__res__res2, .MB__prev-res__res__res3 {
                    display: inline-block;
                }
                .MB__prev-res__res__winnings {
                    span {
                        color: $red;
                        &.MB__prev-res__res__winnings__win {
                          color: $green;
                        }
                    }
                }
            }
        }
        .MB__prev-res__read-more, .MB__prev-res__delete {
            margin: 10px 0px 10px;
            border: none;
            background: white;
            padding: 0;
            border-bottom: 1px solid $blue;
            color: $blue;
            font-size: 12px;
        }
        .MB__prev-res__delete {
          margin-top: 20px;
            display: none;
        }
        .MB__prev-res__read-more {
            margin-bottom: 30px;
        }
    }

    .MB__input {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        margin-bottom: auto;
        background: #f4fcff;
        width: 100%;
        form {
            width: 100%;
        }
        div {
            width: 100%;
            padding-bottom: 5px;
            label {
                padding-bottom: 5px;
                span {
                    font-size: 9px;
                    color: $lightgrey;
                    white-space: nowrap;
                    letter-spacing: 0.4px;
                }
            }
            input {
                margin: 5px 0 15px;
                width: calc(100% - 10px);
            }
        }
        .MB__input__submit {
            padding: 7px 25px;
            margin: 5px auto 20px;
            background: $blue;
            color: white;
            transition: 0.5s;
            padding: 7px 25px;
            text-align: center;
            display: block;
            width: 60px;
            &:hover {
                transition: 0.5s;
                background: $darkblue;
            }
        }
    }

    .MB__recomendations {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        width: 100%;
        h2 {
            display: none;
        }
        .MB__recomendations__saved {
            text-align: left;
            color: $blue;
        }
        &.MB__recomendations--open {
            h2 {
                display: block;
            }
        }
        span {
            display: inline-block;
            padding-bottom: 5px;
            width: 100%;
            span {
                display: inline;
                padding-left: 5px;
                font-weight: 600;
                font-style: italic;
            }
        }
        .MB__recomendations__info {
            font-size: 9px;
            color: $lightgrey;
            // white-space: nowrap;
            letter-spacing: 0.4px;
            padding-left: 0px;
        }
        input {
            width: calc(100% - 15px);
            margin-bottom: 15px;
        }
        .MB__input__con {
            align-content: center;
            display: flex;
            flex-direction: column;
        }
        .MB__input__con__store {
            padding: 7px 25px;
            margin: 5px auto 20px;
            background: $blue;
            color: white;
            transition: 0.5s;
            width: 100px;
            text-align: center;
            &:hover {
                transition: 0.5s;
                background: $darkblue;
            }
        }
    }
}

@media (min-width: 768px) {
    .MB {
      .MB__header {
          display: flex;
          width: 100%;
          text-align: left;
          h1, h2{
            text-align: left;
          }
          .MB__header__img, .MB__header__text {
              width: 33.3%
          }
          .MB__header__img {
            justify-content: center;
            display: flex;
            align-items: center;
            padding-bottom: 0px;
            img {
              width: auto;
              height: fit-content;
            }
          }
      }
        .MB__prev-res {
            width: calc(33.3% - 50px);
        }
        .MB__input {
            width: calc(33.3% - 40px);
        }
        .MB__recomendations {
            width: calc(33.3% - 50px);
        }
    }
}
